<div class="date-and-time">
  April 8, 2017 - 9:00 PM
</div>
<div class="losses-and-gains">
  <div class="gains">
    <span class="icon icon-positive">+</span>
    <span class="count">(11)</span>
  </div>
  <div class="losses">
    <span class="icon icon-negative">-</span>
    <span class="count">(13)</span>
  </div>
</div>
<div class="amount">
  <div class="initial-amount">
    <span class="initial-amount-label">Initial amount: </span>
    <span class="initial-amount-value">$ 3.000,00</span>
  </div>
  <div class="current-amount">
    <span class="current-amount-label">Today amount: </span>
    <span class="current-amount-value">$ 3.500,00</span>
  </div>
</div>
<div class="filter">
  <div class="dropdown">
    <button class="btn btn-primary btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>
</div>