<div class="card" ng-class="{ 'positive': $ctrl.isPositive, 'negative': !$ctrl.isPositive }">
  <div class="percentage">{{($ctrl.product.rateOfRoi * 100) | number:2}}%</div>
  <div class="investment-name">{{$ctrl.product.name}}</div>
  <div class="details">
    <div class="value">{{$ctrl.sign($ctrl.revenue)}}{{$ctrl.revenue | currency:'$':3}}</div>
    <div class="user-mimicked" ng-if="$ctrl.product.mimickUser" title="You are mimicking {{$ctrl.product.mimickUser.name}} in this product">
      <a href="/#!/user/{{$ctrl.product.mimickUser._id}}">
        <img src="https://www.gravatar.com/avatar/{{$ctrl.product.mimickUser.emailHash}}?s=16" alt="Mimicking user">
      </a>
    </div>
    <div class="controls" ng-if="false">
      <fa-icon icon="pause" class="pause-investment" ng-if="$ctrl.state('resumed')"  ng-click="$ctrl.setState('paused')"></fa-icon>
      <fa-icon icon="play" class="resume-investment" ng-if="$ctrl.state('paused')"  ng-click="$ctrl.setState('resumed')"></fa-icon>
      <fa-icon icon="close" class="stop-investment"></fa-icon>
    </div>
  </div>
</div>