<header>
  <nav class="navbar navbar-buzzer">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">
          <img src="/assets/imgs/nectar-logo.png" alt="Nectar Financial" height="30px">
        </a>
      </div>
      <div class="user-profile">
        <a href="/#!/user-profile">
          <span class="user-name">{{$ctrl.user.name}}</span><img src="https://www.gravatar.com/avatar/{{$ctrl.user.emailHash}}?s=40"
            alt="User image">
        </a>
      </div>
    </div>
    </div>
  </nav>

  <side-bar open="menuOpened"></side-bar>

  <nav class="navbar navbar-menu">
    <div class="container-fluid">
      <div class="filler-left"></div>
      <ul class="nav navbar-nav">
        <li ng-repeat="page in $ctrl.pages">
          <button type="button" class="btn btn-link" ng-click="$ctrl.navigate(page.route)" ng-class="{ 'active': $ctrl.location(page.route) }">
            <fa-icon icon="{{page.icon}}"></fa-icon>{{page.label}}
          </button>
        </li>
      </ul>
      <div class="menu-container">
        <fa-icon icon="ellipsis-h" class="open-menu" ng-click="menuOpened = true"></fa-icon>
      </div>
    </div>
  </nav>

  <info-bar></info-bar>
</header>