@font-face {
  font-family: "Insaniburger";
  src: url('/assets/fonts/insaniburger/Insanibc.woff') format('woff'),
        url('/assets/fonts/insaniburger/Insanibc.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: lighten(@brand-primary, 33%);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
}

header {
  padding-bottom: 2em;
  text-align: left;
  overflow: auto;

  .site-title {
    display: inline-block;

    h1 {
      margin: 0;
      font-size: 4em;
      font-family: 'Insaniburger';
      line-height: 1;
      &:first-letter {
        font-size: 2em;
      }

      a,
      a:hover,
      a:focus {
        color: @brand-primary;
        text-decoration: none;
      }
    }

    .nav-links {
      color: @brand-primary;
      text-align: left;
      padding: 0 5px;
      border-top: 1px solid @brand-primary;
      border-bottom: 1px solid @brand-primary;

      .btn-link {
        padding: 0;
        outline: none;
      }

      .active {
        font-weight: bold;
      }
    }
  }
}

.navbar.navbar-buzzer {
  .navbar-brand {
    height: auto;
    display: flex;
    flex-direction: column;

    .brand {
      margin: 0;
      font-family: 'Insaniburger';
        font-size: 1.5em;   
      &:first-letter {
        font-size: 1.5em;
      }
    }
    .tagline {
      font-size: .7em;
      line-height: .5;
    }
  }
}

.new-comment-box {
  border: 1px solid @brand-primary;
  background: #fff;
  padding: 10px;
  border-radius: 3px;

  h3 {
    margin-top: 0;
  }

  label {
    text-transform: uppercase;
    margin-bottom: 0;
  }
}

#admin {
  .filters {
    .panel {
      border-color: @brand-primary;
    }

    .panel-heading {
      padding-top: 0;
      padding-bottom: 0;
      background: none;
      border: none;

      h2 {
        display: flex;
        width: 100%;

        .icon-filter {
          padding-right: 10px;
          align-self: flex-start;
        }

        .heading-title {
          flex-grow: 1;
        }

        .btn-filter {
          align-self: center;
        }
      }
    }

    .collapsible {
      overflow: hidden;
      transition: max-height .5s ease-in;
    }

    .panel-body {
      padding-top: 0;
    }

    label {
      margin: 0;
    }

    .categories-filter {

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      category-tag {
        width: 100%;
      }

      .help-block {
        margin-top: 0;
      }

    }

    @media (max-width: @screen-sm-min) {
      .panel-heading {
        padding-bottom: 10px;
      }
      .collapsible {
        max-height: 0;
        &.expanded {
          max-height: 1000px;
        }
      }
    }
  }
}

footer {
  background-color: @brand-primary;
  height: 1em;
  margin-top: 1em;
}