@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Semibold'), local('OpenSans-Regular'), url('/assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Semibold'), local('OpenSans-Regular'), url('/assets/fonts/Open_Sans/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('/assets/fonts/Open_Sans/OpenSans-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('/assets/fonts/Open_Sans/OpenSans-SemiboldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('/assets/fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: bold;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('/assets/fonts/Open_Sans/OpenSans-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url('/assets/fonts/Open_Sans/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url('/assets/fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
}

body {
  background-color: @body-bg;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}

.content {
  flex: 1;
}

footer {
  background-color: @brand-primary;
  color: @text-color-inverse;
  margin-top: 1em;
  padding: .5em;
  text-align: center;
}

.card {
  background: white;
  box-shadow: 0 0 3px 2px #ddd;
  margin: 15px;
  transition: box-shadow linear .7s;
  cursor: default;
  &:hover {
    box-shadow: 0 0 4px 3px #ddd;
  }
}

.stock {
  &-positive {
    color: @stock-positive;
  }
  &-negative {
    color: @stock-negative;
  }
}

#dashboard {
  .investments {
    display: flex;
    flex-wrap: wrap;
  }
}